.project-list-page {

    input::placeholder {
        color: white;
    }

    select {
        background-color: transparent!important;
        color: white;
        border: none;
        border-bottom: 2px solid white;
        border-radius: 0;
        cursor: pointer;
        option {
            color: black;
        }
}

}


.btn-spacing {
    margin-right: 0.5rem;
}

.pagination .page-item .page-link {
    color: #ffffff;
    background-color: #6c757d;
    border: 1px solid #6c757d;
    margin: 0 0.25rem;
}

.pagination .page-item.active .page-link {
    background-color: #0056b3;
    border-color: #0056b3;
}

.navlink.active {
    border: none;
    background-color: #6c757d !important;
    font-weight: 700;
}
