.project-list-page {

    input::placeholder {
        color: white;
    }

    select {
        background-color: transparent!important;
        color: white;
        border: none;
        border-bottom: 2px solid white;
        border-radius: 0;
        cursor: pointer;
        option {
            color: black;
        }
}

}

.navlink.active {
    border: none;
    background-color: #007bff!important;
    font-weight: 700;
}
