.body {
  background-image: url("/public/storage/pages/background-body-public.jpg");
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  min-height: 100vh;
  background-position: center top -175px;
}
.body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  pointer-events: none;
  z-index: -10;
}

.header .navbar-toggler {
  color: #2b3335;
}
.header ul {
  border-top: 2px solid rgba(43, 51, 53, 0.4);
  width: 90%;
}
.header ul li {
  border-bottom: 2px solid transparent;
  margin: 0 0.5rem;
  letter-spacing: 2px;
}
.header ul li:hover {
  border-bottom: 2px solid #2b3335;
}
.header ul li a {
  color: #2b3335;
}
.header ul li a:hover {
  color: #2b3335;
}
.header ul li a:focus {
  color: #2b3335;
}

.logo-image-primary {
  max-width: 83px;
}

.logo-image-secondary {
  max-width: 150px;
}

.main-footer {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  position: relative;
}
.main-footer .footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
}
.main-footer .footer-content .footer-social-media a, .main-footer .footer-content .footer-address p {
  color: #333;
}
.main-footer .footer-content .footer-social-media {
  margin: 3rem 0 1.5rem 0;
}
.main-footer .footer-content .footer-social-media a {
  font-size: 2rem;
  margin: 0.5rem;
}
.main-footer .footer-content form {
  display: flex;
  flex-direction: column;
}
.main-footer .footer-content form input {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  background-color: transparent;
  padding: 0.35rem;
  font-size: 1rem;
  outline: none;
}
.main-footer .footer-content form input:focus {
  border-bottom: 1px solid white;
}
.main-footer .footer-content form input::placeholder {
  color: #333;
}
.main-footer .footer-content form textarea {
  background-color: transparent;
  border: none;
  margin: 1rem 0;
  padding: 0.5rem;
  overflow: auto;
  resize: none;
}
.main-footer .footer-content form textarea::placeholder {
  color: #333;
}
.main-footer .footer-content form button {
  background-color: #333;
  color: white;
}

@media screen and (min-width: 768px) {
  .main-footer {
    flex-direction: row;
  }
}
@media screen and (max-width: 991px) {
  .logo-image-secondary {
    max-width: 135px;
  }
}
.home_section_container {
  content: "";
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 70vh;
}
.home_section_container .home-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20rem;
}
.home_section_container .home-images {
  justify-content: flex-start;
}
.home_section_container .home-nav {
  width: 100%;
}
.home_section_container .home-nav ul {
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}
.home_section_container .home-nav ul li {
  display: flex;
  align-items: center;
  border-top: 3px solid rgba(43, 51, 53, 0.4);
  width: 100%;
  height: 3rem;
  margin: 0.25rem 0;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}
.home_section_container .home-nav ul li:hover {
  background-color: rgba(255, 255, 255, 0.6);
  border-bottom: 2px solid rgba(43, 51, 53, 0.4);
}
.home_section_container .home-nav ul li a {
  font-size: 140%;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: #2b3335;
}
.home_section_container .icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home_section_container .home-logo {
  max-width: 200px;
  align-self: flex-start;
}
.home_section_container .icon-logo {
  width: 50%;
}

.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade-in.show {
  opacity: 1;
}

@media (min-width: 997px) {
  .home_section_container {
    flex-direction: row;
  }
  .home_section_container .home-item {
    height: 30rem;
    width: 50%;
  }
  .home_section_container .home-nav {
    align-items: center;
  }
  .home_section_container .home-nav ul {
    padding: 0;
    margin: 0;
    justify-content: center;
  }
}
.institutional-container {
  display: flex;
  flex-direction: row-reverse;
}
@media (max-width: 991px) {
  .institutional-container {
    flex-direction: column-reverse;
  }
}

.profile-container {
  display: flex;
  flex-direction: column;
  color: #333337;
  align-items: center;
  margin-top: 7rem;
}
.profile-container h2 {
  text-align: center;
  margin: 1rem 0;
  font-weight: 350;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.5rem;
}
.profile-container p {
  width: 63%;
  font-size: 120%;
  text-align: justify;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.5rem;
}
@media (max-width: 991px) {
  .profile-container p {
    width: 90%;
  }
}

.profile-img-wrapper {
  width: 97%;
  max-width: 24rem;
  height: 30rem;
  overflow: hidden;
  box-shadow: 1px 1px 5px #333;
}

.profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.profile-img:hover {
  transform: scale(1.05);
}

.projects-title-container {
  margin-bottom: 0.5rem;
  margin-bottom: 2rem;
}
.projects-title-container h1 {
  font-weight: 30;
}

.category-select-container select {
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
  border-radius: 0;
  cursor: pointer;
}

.links-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.links-btn-container a {
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  color: white;
}
.links-btn-container a:hover {
  background-color: rgba(107, 99, 95, 0.7) !important;
  color: white;
}
.links-btn-container a.active {
  color: white;
  background-color: rgba(107, 99, 95, 0.7) !important;
}

.project-list-container {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 1rem 0;
  border-radius: 7px;
}

.card-link {
  text-decoration: none;
}

.project-card {
  height: 26rem;
}

.card-body-projects-page {
  height: 4rem;
  color: #555 !important;
}
.card-body-projects-page h5 {
  font-size: 1.15rem;
}

.img-container-projects-page {
  overflow: hidden;
  height: 85%;
}

.img-container-projects-page img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.img-container-projects-page:hover img {
  transform: scale(1.1);
}

@media (min-width: 420px) {
  .category-select-container {
    width: 50%;
    max-width: 25rem;
  }
  .projects-title-container {
    margin-bottom: 0.5rem;
  }
}
.project-show-container img {
  cursor: pointer;
}

.cover-image-container {
  width: 100%;
  box-shadow: 2px 2px 5px #333;
}

.info-cell {
  display: flex;
  flex-direction: column;
}
.info-cell p {
  font-size: 120%;
}

.info-row {
  margin: 3rem 0 5rem 0 !important;
}

.technicals h3 {
  background-color: #333;
  color: white !important;
  padding: 0.25rem;
  box-shadow: 1px 1px 3px #333;
}
.technicals p {
  margin: 0;
}
.technicals p:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  cursor: pointer;
}

.modal .modal-body, .modal .modal-footer {
  background-color: #333;
  border: none;
}

.cover-image {
  width: 100%;
  max-width: 100%;
  height: auto;
  height: 50vh;
  object-fit: cover;
}

.modal .modal-body img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.img-container {
  overflow: hidden;
  margin: 0 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.img-container:hover img {
  transform: scale(1.1);
}

.project-img-list-item {
  box-shadow: 2px 2px 5px #333;
  margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
  .cover-image {
    max-width: 100%;
  }
  .info-row {
    flex-direction: column;
    align-items: center;
  }
  .info-cell {
    width: 100%;
    text-align: center;
  }
  .img-container {
    text-align: center;
    height: 150px;
  }
}
.contact-form-container h2 {
  font-weight: 300;
}

.contact-form-container textarea:focus,
.contact-form-container input:not(:placeholder-shown),
.contact-form-container textarea:not(:placeholder-shown) {
  background-color: white;
  color: black;
}

/*# sourceMappingURL=publicapp.css.map */
