.institutional-container {
    display: flex;
    flex-direction: row-reverse;

    @media (max-width: 991px) {
        flex-direction: column-reverse;
    }
}

.profile-container {
    display: flex;
    flex-direction: column;
    color: #333337;
    align-items: center;
    margin-top: 7rem;

    h2 {
        text-align: center;
        margin: 1rem 0;
        font-weight: 350;
        background-color: rgba(255, 255, 255, 0.5);
        padding: 0.5rem;
    }

    p {
        width: 63%;
        font-size: 120%;
        text-align: justify;
        background-color: rgba(255, 255, 255, 0.5);
        padding: 0.5rem;
        @media (max-width: 991px) {
            width: 90%;
        }
    }
}

.profile-img-wrapper {
    width: 97%;
    max-width: 24rem;
    height: 30rem;
    overflow: hidden;
    box-shadow: 1px 1px 5px #333;
}

.profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.05);
    }
}
