.project-show-container img {
    cursor: pointer;
}

.cover-image-container {
    width: 100%;
    box-shadow: 2px 2px 5px #333;
}

.info-cell {
    display: flex;
    flex-direction: column;
    p {
        font-size: 120%;
    }
}

.info-row {
    margin: 3rem 0 5rem 0!important;
}

.technicals {
    h3 {
        background-color: #333;
        color: white!important;
        padding: 0.25rem;
        box-shadow: 1px 1px 3px #333;
    }
    p {
        margin: 0;
        &:hover {
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            cursor: pointer;
        }
    }
}

.modal {
    .modal-body, .modal-footer {
        background-color: #333;
        border: none;
    }
}

.cover-image {
    width: 100%;
    max-width: 100%;
    height: auto;
    height: 50vh;
    object-fit: cover;
}

.modal .modal-body img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.img-container {
    overflow: hidden;
    margin: 0 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.img-container:hover img {
    transform: scale(1.1);
}

.project-img-list-item {
    box-shadow: 2px 2px 5px #333;
    margin-bottom: 0.5rem;
}

.images-show-container {
    padding: 1rem;
    border-radius: 5px;
    background-color: rgba($color: #fff, $alpha: 0.7);
}

.go-back-link {
    background-color: #333!important;
}

@media (max-width: 768px) {
    .cover-image {
        max-width: 100%;
    }

    .info-row {
        flex-direction: column;
        align-items: center;
    }

    .info-cell {
        width: 100%;
        text-align: center;
    }

    .img-container {
        text-align: center;
        height: 150px;
    }
}
