
.body {
    background-image: url('/public/storage/pages/pagina-background.jpg');
    // background-color: red;
    background-size: cover;
    background-attachment: fixed;
}

.header {
    background: linear-gradient(90deg, transparent 5%, rgba(0, 0, 0, .5) 25%, rgba(0, 0, 0, .5) 75%, transparent 95%);

    .navbar-toggler {
        color: white;
    }
    ul {
        li {
            border-bottom: 2px solid transparent;
            margin: 0 0.5rem;
            text-transform: uppercase;
            letter-spacing: 2px;
            &:hover {
                border-bottom: 2px solid #D1BDB0;
            }
            a {
                color: white;
                &:hover {
                    color: white;
                }

                &:focus {
                    color: white;
                }
            }

        }
    }
}

.logo-image-primary {
    max-width: 83px;
}

.logo-image-secondary {
    max-width: 150px;
}

.main-footer {
    margin: 20rem 0;
    display: flex;
    flex-direction: column-reverse;
    height: 20rem;
    width: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    .footer-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
        width: 100%;
        text-align: center;


        .footer-social-media a, .footer-address p{
            color: #333;
        }

        .footer-social-media {
            margin: 3rem 0 1.5rem 0;
        }

        .footer-social-media a {
            font-size: 2rem;
            margin: 0.5rem;
        }

        form {
            display: flex;
            flex-direction: column;

            input {
                width: 100%;
                border: none;
                outline: none;
                border-bottom: 1px solid black;
                background-color: transparent;
                padding: 0.35rem;
                font-size: 1rem;
                outline: none;

                &:focus {
                    border-bottom: 1px solid white;
                }

                &::placeholder {
                    color: #333;
                }
            }

            textarea {
                background-color: transparent;
                border: none;
                margin: 1rem 0;
                padding: 0.5rem;
                overflow: auto;
                resize: none;
                &::placeholder {
                    color: #333;
                }
            }

            button {
                background-color: #333;
                color: white;
            }
        }
    }
}

@media screen and (max-width: 370px) {
    .main-footer {
        margin: 14rem 0;
    }
}

@media screen and (min-width: 768px) {
    .main-footer {
        flex-direction: row;
        margin: 4rem 0;
    }
}

@media screen and (max-width: 991px) {
    .header {
        background: rgba(0, 0, 0, 0.5);
    }

    .logo-image-primary {
        max-width: 65px;
    }

    .logo-image-secondary {
        max-width: 90px;
    }
}


@import './public/home.scss';
@import './public/institutional.scss';
@import './public/projects.scss';
@import './public/project-show.scss';
@import './public/contact-us.scss';

