
.body {
    background-image: var(--public-bg-image, url('/storage/pages/background-body-public.jpg'));
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    background-position: center top;
    min-height: 100vh;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.6);
        pointer-events: none;
        z-index: -10;
    }
}

.header {
    // background: linear-gradient(90deg, transparent 5%, rgba(0, 0, 0, .5) 25%, rgba(0, 0, 0, .5) 75%, transparent 95%);
    .navbar-toggler {
        color: #2b3335;
    }
    ul {
        border-top: 2px solid rgba($color: #2b3335, $alpha: 0.4);
        width: 90%;
        li {
            border-bottom: 2px solid transparent;
            margin: 0 0.5rem;
            letter-spacing: 1.4px;
            &:hover {
                border-bottom: 2px solid #2b3335;
            }
            a {
                color: #2b3335;
                font-size: clamp(1.08rem, 1.05vw, 1.24rem);
                line-height: 1.35;
                &:hover {
                    color: #2b3335;
                }

                &:focus {
                    color: #2b3335;
                }
            }

        }
    }
}

.logo-image-primary {
    max-width: 83px;
}

.logo-image-secondary {
    max-width: 150px;
}

.main-footer {
    display: flex;
    flex-direction: column-reverse;
    // height: 25rem;
    width: 100%;
    position: relative;
    .footer-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        text-align: center;


        .footer-social-media a, .footer-address p{
            color: #333;
        }

        .footer-social-media {
            margin: 3rem 0 1.5rem 0;
        }

        .footer-social-media a {
            font-size: 2rem;
            margin: 0.5rem;
        }

        form {
            display: flex;
            flex-direction: column;

            input {
                width: 100%;
                border: none;
                outline: none;
                border-bottom: 1px solid black;
                background-color: transparent;
                padding: 0.35rem;
                font-size: 1rem;
                outline: none;

                &:focus {
                    border-bottom: 1px solid white;
                }

                &::placeholder {
                    color: #333;
                }
            }

            textarea {
                background-color: transparent;
                border: none;
                margin: 1rem 0;
                padding: 0.5rem;
                overflow: auto;
                resize: none;

                &::placeholder {
                    color: #333;
                }
            }

            button {
                background-color: #333;
                color: white;
            }
        }
    }
}

// @media screen and (min-width: 300px) {
//     .main-footer {
//         margin: 3rem 0;
//     }
// }

@media screen and (min-width: 768px) {
    .main-footer {
        flex-direction: row;
        // margin: 4rem 0;
    }
}

@media screen and (min-width: 1100px) {
    .body {
        background-position: center top -175px;
    }

    .main-footer {
        padding: 3rem 0;
    }
}

@media screen and (max-width: 991px) {

    .logo-image-secondary {
        max-width: 135px;
    }
}


@import './public/home.scss';
@import './public/institutional.scss';
@import './public/projects.scss';
@import './public/project-show.scss';
@import './public/contact-us.scss';
