.forgot-password-form {
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    padding: 1rem;

    input {
        background-color: transparent;
        outline: none;
        border: none;
        border-bottom: 2px solid rgb(56, 54, 54);
        width: 600px;
        border-radius: 0;
        color: white;
        margin-bottom: 1rem;
        &:focus {
            background-color: transparent;
            border-bottom: 2px solid white;
            color: white;
        }
    }
}
